html {
    /* font-family: "Courier New", monospace; */
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font: 1em/1.5 sans-serif;
}

label span {
    color: coral;
}

label {
    font-family: "Rock Salt", cursive;
}

form {
    display: flex;
    align-items: center;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid salmon; */
}

input[type=text] {
    padding: 10px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid black;
    /* change this */
    border-radius: 10px;
}

button[type=submit] {
    padding: 10px 5px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    letter-spacing: 5px;
    font-size: larger;
    font-family: "Courier New", monospace;
}

.left {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    width: 40%;
    padding: 30px;
}

.right {
    /* border: 5px solid skyblue; */
    padding: 30px;
    width: 60%;
}

span {
    color: red;
    font-size: 0.8em;
    /* display: none; */
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 5px;
}

/* typography */

thead th,
tfoot th {
    font-family: "Rock Salt", cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

/* Responsive layout */

/* Tablet Styles */
@media only screen and (max-width: 1000px) {
    form {
        flex-direction: column;
    }

    .form-container {
        transform: translate(-50%, -35%);
    }
}

/* toggle switch */

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}

.form-container {
    background: var(--color-secondary);
}

.form-container h1 {
    color: var(--font-color);
}

.form-container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border-radius: 5px;
}